/*TeamNightOwl.CSS*/

/*______________________________________*/

/*TNO.CSS Has Been Built Using Purely CSS With No
 External Or Internal Javascript Runtime, Making
 It Work On Almost Every Browser EXCEPT IE 7.
 It Is Still Currently Being Developed,
 And Any Feature Could Disappear Through
 Development*/

/*Text Decoration*/

.TNO-underline{
  text-decoration: underline;
}

.TNO-overline{
  text-decoration: overline;
}

.TNO-linethrough{
  text-decoration: line-through;
}
/*Text Shadow*/

.TNO-textshadow1px{
  text-shadow: 1px -1px 1px #000000;
}
.TNO-textshadow2px{
  text-shadow: 2px -2px 2px #000000;
}
.TNO-textshadow3px{
  text-shadow: 3px -3px 3px #000000;
}
.TNO-textshadow4px{
  text-shadow: 4px -4px 4px #000000;
}
.TNO-textshadow5px{
  text-shadow: 5px -5px 5px #000000;
}
.TNO-textshadow6px{
  text-shadow: 6px -6px 6px #000000;
}
/*Text Colour*/

.TNO-red {
  color: red;
}

.TNO-blue {
  color: blue;
}

.TNO-lightblue {
  color: #00ffff;
}

.TNO-white {
  color: white;
}

.TNO-black {
  color: black;
}

.TNO-yellow {
  color: yellow;
}

.TNO-green {
  color: green;
}

.TNO-purple {
  color: purple;
}

.TNO-orange {
  color: #ff8000;
}

.TNO-darkorange {
  color: #b86808;
}
/*Texts positions/aligns*/

.TNO-textaligncenter {
  text-align: center;
}

.TNO-textalignleft {
  text-align: left;
}

.TNO-textalignright {
  text-align: right;
}
/*Font Size*/

.TNO-fontsize5 {
  font-size: 5px;
}

.TNO-fontsize10 {
  font-size: 10px;
}

.TNO-fontsize15 {
  font-size: 15px;
}

.TNO-fontsize20 {
  font-size: 20px;
}

.TNO-fontsize25 {
  font-size: 25px;
}

.TNO-fontsize30 {
  font-size: 30px;
}

.TNO-fontsize35 {
  font-size: 35px;
}

.TNO-fontsize40 {
  font-size: 40px;
}

.TNO-fontsize45 {
  font-size: 45px;
}

.TNO-fontsize50 {
  font-size: 50px;
}

.TNO-fontsize55 {
  font-size: 55px;
}

.TNO-fontsize60 {
  font-size: 60px;
}

.TNO-fontsize65 {
  font-size: 65px;
}

.TNO-fontsize70 {
  font-size: 70px;
}

.TNO-fontsize75 {
  font-size: 75px;
}

.TNO-fontsize80 {
  font-size: 80px;
}

.TNO-fontsize85 {
  font-size: 85px;
}

.TNO-fontsize90 {
  font-size: 90px;
}

.TNO-fontsize95 {
  font-size: 95px;
}

.TNO-fontsize100 {
  font-size: 100px;
}

.TNO-fontsize105 {
  font-size: 105px;
}

.TNO-fontsize110 {
  font-size: 110px;
}

.TNO-fontsize115 {
  font-size: 115px;
}

.TNO-fontsize120 {
  font-size: 120px;
}

.TNO-fontsize125 {
  font-size: 125px;
}

.TNO-fontsize130 {
  font-size: 130px;
}

.TNO-fontsize135 {
  font-size: 135px;
}

.TNO-fontsize140 {
  font-size: 140px;
}

.TNO-fontsize145 {
  font-size: 145px;
}

.TNO-fontsize150 {
  font-size: 150px;
}

.TNO-fontsize155 {
  font-size: 155px;
}

.TNO-fontsize160 {
  font-size: 160px;
}

.TNO-fontsize165 {
  font-size: 165px;
}

.TNO-fontsize170 {
  font-size: 170px;
}

.TNO-fontsize175 {
  font-size: 175px;
}

.TNO-fontsize180 {
  font-size: 180px;
}

.TNO-fontsize185 {
  font-size: 185px;
}

.TNO-fontsize190 {
  font-size: 190px;
}

.TNO-fontsize195 {
  font-size: 195px;
}

.TNO-fontsize200 {
  font-size: 200px;
}

.TNO-fontsize205 {
  font-size: 205px;
}

.TNO-fontsize210 {
  font-size: 210px;
}

.TNO-fontsize215 {
  font-size: 215px;
}

.TNO-fontsize220 {
  font-size: 220px;
}

.TNO-fontsize225 {
  font-size: 225px;
}

.TNO-fontsize230 {
  font-size: 230px;
}

.TNO-fontsize235 {
  font-size: 235px;
}

.TNO-fontsize240 {
  font-size: 240px;
}

.TNO-fontsize245 {
  font-size: 245px;
}

.TNO-fontsize250 {
  font-size: 250px;
}

.TNO-fontsize255 {
  font-size: 255px;
}

.TNO-fontsize260 {
  font-size: 260px;
}

.TNO-fontsize265 {
  font-size: 265px;
}

.TNO-fontsize270 {
  font-size: 270px;
}

.TNO-fontsize275 {
  font-size: 275px;
}

.TNO-fontsize280 {
  font-size: 280px;
}

.TNO-fontsize285 {
  font-size: 285px;
}

.TNO-fontsize290 {
  font-size: 290px;
}

.TNO-fontsize295 {
  font-size: 295px;
}

.TNO-fontsize300 {
  font-size: 300px;
}

.TNO-fontsize305 {
  font-size: 305px;
}

.TNO-fontsize310 {
  font-size: 310px;
}

.TNO-fontsize315 {
  font-size: 315px;
}

.TNO-fontsize320 {
  font-size: 320px;
}

.TNO-fontsize325 {
  font-size: 325px;
}

.TNO-fontsize330 {
  font-size: 330px;
}

.TNO-fontsize335 {
  font-size: 335px;
}

.TNO-fontsize340 {
  font-size: 340px;
}

.TNO-fontsize345 {
  font-size: 345px;
}

.TNO-fontsize350 {
  font-size: 350px;
}

.TNO-fontsize355 {
  font-size: 355px;
}

.TNO-fontsize360 {
  font-size: 360px;
}

.TNO-fontsize365 {
  font-size: 365px;
}

.TNO-fontsize370 {
  font-size: 370px;
}

.TNO-fontsize375 {
  font-size: 375px;
}

.TNO-fontsize380 {
  font-size: 380px;
}

.TNO-fontsize385 {
  font-size: 385px;
}

.TNO-fontsize390 {
  font-size: 390px;
}

.TNO-fontsize395 {
  font-size: 395px;
}

.TNO-fontsize400 {
  font-size: 400px;
}

.TNO-fontsize405 {
  font-size: 405px;
}

.TNO-fontsize410 {
  font-size: 410px;
}

.TNO-fontsize415 {
  font-size: 415px;
}

.TNO-fontsize420 {
  font-size: 420px;
}

.TNO-fontsize425 {
  font-size: 425px;
}

.TNO-fontsize430 {
  font-size: 430px;
}

.TNO-fontsize435 {
  font-size: 435px;
}

.TNO-fontsize440 {
  font-size: 440px;
}

.TNO-fontsize445 {
  font-size: 445px;
}

.TNO-fontsize450 {
  font-size: 450px;
}

.TNO-fontsize455 {
  font-size: 455px;
}

.TNO-fontsize460 {
  font-size: 460px;
}

.TNO-fontsize465 {
  font-size: 465px;
}

.TNO-fontsize470 {
  font-size: 470px;
}

.TNO-fontsize475 {
  font-size: 475px;
}

.TNO-fontsize480 {
  font-size: 480px;
}

.TNO-fontsize485 {
  font-size: 485px;
}

.TNO-fontsize490 {
  font-size: 490px;
}

.TNO-fontsize495 {
  font-size: 495px;
}

.TNO-fontsize500 {
  font-size: 500px;
}
/*Special Features*/

/*RAINBOW TEXT*/
.TNO-rainbowtext {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  /* Standard Syntax */
  animation: rainbow 3s infinite;
  color: orange;
}
.TNO-rainbowtext1sec {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite;
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  /* Standard Syntax */
  animation: rainbow 1s infinite;
  color: orange;
}
.TNO-rainbowtext2sec {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 2s infinite;
  /* Internet Explorer */
  -ms-animation: rainbow 2s infinite;
  /* Standard Syntax */
  animation: rainbow 2s infinite;
  color: orange;
}
.TNO-rainbowtext3sec {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  /* Standard Syntax */
  animation: rainbow 3s infinite;
  color: orange;
}
.TNO-rainbowtext4sec {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 4s infinite;
  /* Internet Explorer */
  -ms-animation: rainbow 4s infinite;
  /* Standard Syntax */
  animation: rainbow 4s infinite;
  color: orange;
}
.TNO-rainbowtext5sec {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite;
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  /* Standard Syntax */
  animation: rainbow 5s infinite;
  color: orange;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes rainbow {
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
/* Internet Explorer */

@-ms-keyframes rainbow {
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
/* Standard Syntax */

@keyframes rainbow {
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
/*Fun Website Killer*/

.TNO-webkill {
  font-size: 10000px;
}
